<div class="app-clients-page">
    <app-page-header [appTitle]="pageTitle"></app-page-header>

    <div class="app-clients-page__content">
        <div class="app-clients-page__content__controls">
            <button matIconButton>
                <span class="material-symbols-outlined">
                        add_box
                    </span>
            </button>
            <button class="control-button">
                <!-- <mat-icon class="control-icon"> -->
                    <span class="material-symbols-outlined">
                        add_box
                    </span>
                <!-- </mat-icon> -->
            </button>
            <button>
                <!-- <mat-icon class="control-icon"> -->
                    <span class="material-symbols-outlined">
                        delete
                    </span>
                <!-- </mat-icon> -->
            </button>
        </div>
        TABLE

        
    </div>
</div>