<div class="app-clients-page">
    <app-page-header [appTitle]="pageTitle"></app-page-header>

    <div class="app-clients-page__content">
        <div class="app-clients-page__content__controls">
            <button matIconButton class="icon-button">
                    <span class="material-symbols-outlined">
                        add_box
                    </span>
            </button>
            <button matIconButton class="icon-button delete-button">
                <span class="material-symbols-outlined">
                    delete
                </span>
            </button>
        </div>
        
        <div class="app-clients-page__content__table">
            <!-- <app-table [columns]="tableColumns"
                       [tableData]="dataSource | async"
                       (appTableEvent)="onTableEvent($event)">
            </app-table> -->
            <app-clients-table [tableData]="dataSource | async" (appTableEvent)="onTableEvent($event)">
            </app-clients-table>
        </div>
    </div>
</div>