<div class="app-table">
    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? toggleAllRows() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(row) : null"
                              [checked]="selection.isSelected(row)">
                </mat-checkbox>
            </td>
        </ng-container>
        @for (col of columns; track col) {
            <ng-container [matColumnDef]="col.key">
                <th mat-header-cell *matHeaderCellDef>
                    {{ col.name }}
                </th>

                <td mat-cell *matCellDef="let row">
                    @if (col.isAction) {
                        <span class="td-action" (click)="onItemClick($event, row)">
                            {{ row[col.key] }}
                        </span>
                    } @else {
                        {{ row[col.key] }}
                    }
                    
                </td>
            </ng-container>
        }

        <tr mat-header-row *matHeaderRowDef="displayedColumns" class="sticky-header"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            (click)="onRowClick($event, row)">
        </tr>
    </table>
</div>