
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

*, *:after, *:before {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));

  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
}/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; width: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-ripple, .mat-mdc-button-ripple, .mdc-checkbox__ripple {
  display: none;
}

.cdk-overlay-dark-backdrop {
    background-color: #263238;
    opacity: 0.32 !important;
}

.mat-mdc-dialog-container {
  --mat-dialog-container-shape: 20px;
  --mat-dialog-container-color: #fff;
}

.icon-button {
  --mat-icon-button-state-layer-size: 36px;
  --mat-icon-button-disabled-icon-color: #A8B0BF;
  --mat-icon-button-icon-color: #304879;
  --mat-icon-button-icon-size: 20px;

  .mat-mdc-button-touch-target {
    width: 36px !important;
    height: 36px !important;
  }

  // &__cont {
  //   overflow: hidden;
  //   width: 20px;
  //   height: 20px;
  //   display: inline-block;
  //   position: relative;

  //   .material-symbols-outlined {
  //     position: absolute;
  //     top: 50%;
  //     left: 50%;
  //     transform: translate(-50%, -50%);
  //     font-size: 26px;
  //     // font-size: 20px !important;
  //   }
  // }

  // .test1 {
  //   .material-symbols-outlined {
  //     // font-size: 20px !important;
  //   }
  // }

  .material-symbols-outlined {
    font-size: 20px !important;
  }

  &:hover {
    background-color: #E2EEFF;
  }

  &:active {
    background-color: #B5D3FF;
  }
  
}

.dialog-form {
  padding: 44px 40px 40px 40px !important;

  .mat-mdc-dialog-title {
        --mat-dialog-headline-padding: 0;
        --mat-dialog-subhead-color: #231F20;
        --mat-dialog-subhead-line-height: 24px;
        --mat-dialog-subhead-size: 24px;
        --mat-dialog-subhead-weight: 500;
        --mat-dialog-subhead-tracking: 0.1;

        margin: 0 !important;

        &::before {
            display: none !important;
        }
  }

  .mat-mdc-dialog-actions {
    --mat-dialog-actions-padding: 0;
    gap: 4px !important;

    .mat-mdc-button {
        --mat-button-text-container-shape: 37px;
        --mat-button-text-container-height: 53px;

        --mat-button-text-label-text-size: 18px;
        --mat-button-text-label-text-tracking: 0px;
        --mat-button-text-label-text-weight: 400;

        &[disabled] {
            &.submit-button {
                background-color: #D8DEE9 !important;
            }
        }

        

        &.cancel-button {
            --mat-button-text-label-text-color: #2F67D5;

            &:hover {
                background-color: rgba(60, 124, 248, 0.1) !important;
            }

            &:active {
                background-color: rgba(25, 78, 182, 0.2) !important;
            }
        }

        &.submit-button {
            --mat-button-text-label-text-color: #fff;
            --mat-button-text-disabled-label-text-color: #fff;

            background-color: #2F67D5 !important;

            &:hover {
                background-color: #3C7CF8 !important;
            }

            &:active {
                background-color: #194EB6 !important;
            }
        }

        margin: 0 !important;
        padding: 16px 22px !important;

        
    }
  }
}
